<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,466},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>LogoReel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,649},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>LogoReel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,662},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>btn_about.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,826},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>btn_musicOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,826},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>btn_musicOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,827},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>btn_soundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,835},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>btn_soundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,835},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>transferGate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,309},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,931},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>btn_hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,1037},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,1094},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>hexagon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,818},{97,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,109}</string>
			</dict>
			<key>hexagon_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,931},{97,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,109}</string>
			</dict>
			<key>guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,930},{38,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,30}</string>
			</dict>
			<key>btn_restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,1094},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>startGame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,94},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>startGame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,587},{184,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,71}</string>
			</dict>
			<key>block_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,717},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>block_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,750},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>block_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,759},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>block_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,792},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>btn_undo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,1110},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>pointer_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,499},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>pointer_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,424},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>pointer_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,493},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>pointer_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,562},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>btn_forward.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,2},{69,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,88}</string>
			</dict>
			<key>btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,662},{100,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,128}</string>
			</dict>
			<key>btn_shutHint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,345},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>btn_facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,424},{154,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,158}</string>
			</dict>
			<key>btn_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,507},{154,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,158}</string>
			</dict>
			<key>btn_moment.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,586},{154,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,158}</string>
			</dict>
			<key>btn_qqFriend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,507},{154,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,158}</string>
			</dict>
			<key>btn_qqZone.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,654},{154,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,158}</string>
			</dict>
			<key>btn_shutShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,552},{73,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,78}</string>
			</dict>
			<key>btn_twitter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,815},{154,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,158}</string>
			</dict>
			<key>btn_passNext.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,2},{203,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,176}</string>
			</dict>
			<key>btn_passShare.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,669},{166,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,145}</string>
			</dict>
			<key>btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,669},{146,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,127}</string>
			</dict>
			<key>fail_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{601,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,418}</string>
			</dict>
			<key>success_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,2},{601,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{601,418}</string>
			</dict>
			<key>btn_coin120.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,330},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>btn_coin1960.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,491},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>btn_coin360.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,345},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>btn_coin900.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,345},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>btn_shutCharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,978},{101,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,69}</string>
			</dict>
			<key>btn_video.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,492},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>btn_videoClick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1775,653},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>btn_cancelAD.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,424},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>notice_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,561},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,1185},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,878},{100,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,170}</string>
			</dict>
			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,804},{100,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,170}</string>
			</dict>
			<key>levelPlayed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1763,977},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>levelStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1900,1052},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>levelUnplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,587},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>slide.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,507},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>slideChoice.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,534},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>ball_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,631},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>ball_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,568},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>ball_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,693},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>ball_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,587},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>square_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,793},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>square_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,801},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>square_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,826},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>no_star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,856},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>no_star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,856},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>no_star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,893},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>no_star4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,893},{38,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,33}</string>
			</dict>
			<key>no_star5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,748},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>no_star6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,748},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>no_star7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,755},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>no_star8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,786},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>no_star9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,786},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,793},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,824},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,824},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,831},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,862},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,862},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,869},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,818},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>star9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,818},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>controlled_path_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,860},{116,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,26}</string>
			</dict>
			<key>controlled_path_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,863},{116,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,26}</string>
			</dict>
			<key>controlled_path_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,890},{116,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,26}</string>
			</dict>
			<key>controlled_path_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,863},{116,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,26}</string>
			</dict>
			<key>btn_passShare.p.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,816},{156,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,135}</string>
			</dict>
			<key>path_end.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,238},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>btn_facebook_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,424},{155,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>btn_friend_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,586},{155,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>btn_moment_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,424},{155,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>btn_qqFriend_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,424},{155,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>btn_qqZone_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,424},{155,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>btn_twitter_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,424},{155,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>btn_cancelAD_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,2},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>btn_coin120_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,165},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>btn_coin1960_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,167},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>btn_coin360_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,328},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>btn_coin900_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,182},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>btn_video_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,182},{159,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,159}</string>
			</dict>
			<key>wheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,704},{46,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>square_brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,826},{116,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,30}</string>
			</dict>
			<key>map_path1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,1051},{97,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,3}</string>
			</dict>
			<key>map_path2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,1058},{65,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,3}</string>
			</dict>
			<key>map_path3.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,704},{34,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,3}</string>
			</dict>
			<key>map_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,188},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>wait1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,268},{84,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,73}</string>
			</dict>
			<key>waitNode1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,167},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>waitNode2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,206},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>levelPlayed_now.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,587},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>levelStar_now.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,587},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>levelUnplay_now.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,587},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>btn_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,2},{183,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,161}</string>
			</dict>
			<key>btn_back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1922,1185},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>starLack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,634},{84,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,66}</string>
			</dict>
			<key>btn_shutCharge_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,720},{107,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,69}</string>
			</dict>
			<key>startGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,166},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>btn_shutShare_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,379},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>btn_passNext_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,2},{203,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,176}</string>
			</dict>
			<key>btn_passShare_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,955},{156,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,135}</string>
			</dict>
			<key>btn_replay_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,800},{146,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,127}</string>
			</dict>
			<key>btn_about_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,860},{106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,33}</string>
			</dict>
			<key>btn_setting_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,182},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>btn_next_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,748},{100,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,127}</string>
			</dict>
			<key>btn_shutHint_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,422},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>btn_left_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1937,704},{101,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,170}</string>
			</dict>
			<key>btn_right_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,630},{101,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,170}</string>
			</dict>
			<key>btn_hint_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,720},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>btn_restart_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,749},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>btn_share_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,720},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>btn_undo_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,720},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>coin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,720},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>